<div class="container">
  <h1>About</h1>
  <p>
    This simple webapp was built as a proof of concept of an overarching AI assistant for Changi Airport.
    </p><p>
    Consider this: What do you think of when you think of the Airport of the Future? Many people think of sensors and devices, robot assistants, and even machine learning. Well, each of these individual technologies improving our airport experience, but is there a system that can get all these technologies to work together, to create a truly world-class experience?
    </p><p>
    This is where ch.io comes in. ch.io will be the autonomous assistant of Changi Airport. We want her to be the first thing that travelers approach when they need help. Upon request, she will use information across multiple aspects of the airport to make smart decisions to assist both travelers and airport staff.
    </p><p>
    Imagine there’s a traveler who is transiting at Changi Airport. He has 5 hours until his next flight. After landing and connecting to the airport WIFI, he gets redirected to ch.io. He could choose to ask, "I have 5 hours. What should I do?” Based on this input, ch.io will generate an <a href="/about">itinerary</a> for him. If he doesn’t like this, he has the option of requesting another suggestion, or possibly inputing some preferences to customize the itinerary to his liking.
    </p><p>
    Simple enough, right? But let’s take a step back, and look at the bigger picture. Since ch.io is connected to a centralized system, she can do more than just recommend places to go. For instance, she could use existing infrastructure to find out where crowds of travelers are located. To start, she can monitor the number of phones connected to each router in the airport, and that would indicate the concentration of people at the locations of the routers. See the <a href="/ops">operations page</a> for an example of the interface that could be used by Changi Airport’s operations team.
    </p><p>
    By combining the existing traffic data and her own recommendations, she can provide the operations teams with smart guesses about traveller traffic at those locations in the near future. This information will provide the operations teams with more awareness within the airport, enabling them to better respond to changes.
    </p><p>
    This is just one of the ways ch.io can improve manpower efficiency and customer experience in the Airport. Moving forward, we foresee many other ways ch.io can benefit the Airport - for example, if it could link up customer service with a Savioke delivery robot. And as ch.io becomes applicable in more areas of the Airport, we hope to see it become the face of Changi Airport - the AI identity that everyone will associate the <a href="http://airportofthefuture.bemyapp.com/">Airport of the Future</a> with.
  </p>
  <h2>Team members</h2>
    <div ng-repeat="member in members" style="height:200px" class="col-lg-4 col-md-4 col-sm-4">
      <h4>{{member.name}}</h4>
      <h5 class="ctitle">{{member.role | uppercase}}</h5>
      <p style="height:50px">{{member.description}}</p>
      <a ng-if="member.github" href="{{member.github}}" class="btn btn-social-icon btn-github">
         <span class="fa fa-github"></span>
       </a>
      <a ng-if="member.linkedin" href="{{member.linkedin}}" class="btn btn-social-icon btn-linkedin">
         <span class="fa fa-linkedin"></span>
       </a>
       <div class="hline" style="margin:20px 0;"></div>
    </div><!-- /col-lg-4 -->

 </div>
</div>
