<div class="container">
  <div class="spinner" ng-hide="loaded">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
  <div class="positioned fade" ng-show="loaded">

    <div class="abs-top-right" >
      You have <strong>5</strong> hours at the Airport.
    </div>

    <div class="row" ng-repeat="part in parts">
      <div ng-if="part.type == 'start'" class="start col-xs-12">
        <div class="start-circle pull-left"> </div>
        <div class="pull-left pad-left">
          Start
        </div>
      </div>
      <div ng-if="part.type == 'end'" class="start col-xs-12">
        <div class="end-circle pull-left"> </div>
        <div class="pull-left pad-left">
          End
        </div>
      </div>
      <div ng-if="part.type == 'line'" class="line col-xs-12">
        <div class="vline">
        </div>
      </div>
      <div ng-if="part.type == 'walk'" class="walk col-xs-12">
        {{part.time}} <img class="icon-v" src="../assets/walk.png" />
      </div>
      <div ng-if="part.type == 'train'" class="walk col-xs-12">
        {{part.time}} <img class="icon-h" src="../assets/train.png" />
      </div>
      <div ng-if="part.type == 'attraction'" class="image col-xs-12 col-sm-4 col-md-3">
        <img class="img-responsive" ng-src="{{part.img}}"/>
      </div>
      <div ng-if="part.type == 'attraction'" class="description col-xs-12 col-sm-8 col-md-9">
        <div class="flex">
          <div class="att-header">
            {{part.name}}
          </div>
          <div class="grow hidden-xs">
            <span class="line"></span>
          </div>
        </div>
        <p>
          <span class="icon-wrapper">
            <img class="icon-v" src="../assets/location.png" />
          </span>
          <span>{{part.location}}</span>
        </p>
        <p>
          <span class="icon-wrapper">
            <img class="icon-v" src="../assets/hourglass.png" />
          </span>
          {{part.time}}
        </p>
        <p>
          <span class="icon-wrapper">
            <img class="icon-h icon-clock" src="../assets/clock.png" />
          </span>
          {{part.timeperiod}}
        </p>
      </div>
    </div>

    <div class="abs-btm-right">
      <a class="btn chio-btn">
        Save to Phone
      </a>
    </div>

  </div>
</div>
