<div class="container">
  <div class="row" ng-repeat="part in parts">
    <div ng-if="part.type == 'start'" class="start col-xs-12">
      Start
    </div>
    <div ng-if="part.type == 'end'" class="start col-xs-12">
      End
    </div>
    <div ng-if="part.type == 'line'" class="line col-xs-12">
      |
    </div>
    <div ng-if="part.type == 'walk'" class="walk col-xs-12">
      {{part.time}} walk
    </div>
    <div ng-if="part.type == 'train'" class="walk col-xs-12">
      {{part.time}} train
    </div>
    <div ng-if="part.type == 'attraction'" class="image col-xs-12 col-sm-3 col-md-2">
      <img class="img-responsive" ng-src="{{part.img}}"/>
    </div>
    <div ng-if="part.type == 'attraction'" class="description col-xs-12 col-sm-9 col-md-10">
      <div class="flex">
        <div>
          {{part.name}}
        </div>
        <div class="grow hidden-xs">
          <span class="line"></span>
        </div>
      </div>
      <p>
        {{part.time}}
      </p>
      <p>
        {{part.location}}
      </p>
    </div>
  </div>

</div>
