body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: none;
}

a {
  color: #00B7FF;
}

.positioned {
  position:relative;
}

.flex {
  display: flex;
}
.shrink {
  flex-shrink: 1;
}
.grow {
  flex-grow: 1;
}
.pad-left {
  padding-left: 10px;
}
.marg-left {
  margin-left: 10px;
}

div.start-circle {
	border-radius: 50%;
  margin-left: 10px;
	width: 20px;
	height: 20px;
  background: #441d54;
}
div.end-circle {
	border-radius: 50%;
  margin-left: 10px;
	width: 20px;
	height: 20px;
  background: #441d54;
}

span.line {
  height: 1px;
  background: black;
  width: 100%;
  display:block;
  margin-top: 10px;
  margin-left: 10px;
}

div.vline {
  height: 20px;
  width: 1px;
  background: black;
  display: block;
  margin: 0 0 0 20px;
}

.bg-dark {
  background: url('../assets/bg-dark.png') no-repeat center center fixed;
}

.bg-light {
  background: url('../assets/bg-light.png') no-repeat center center fixed;
}
.bg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.abs-top-right {
  position:absolute;
  font-size: 2em;
  font-weight: 200;
  font-family: Raleway, sans-serif;
  top: 0;
  right: 0;
  color: #292929;
}


@media (max-width:736px) {
  div.abs-top-right {
    display:block;
    position: relative;
    top:0;
    right:0;
    text-align: center;
    margin-bottom:12px;
  }
}
@media (min-width:737px) {
  div.description {
    padding-top:20px;
  }
}

.icon-wrapper {
  float:left;
  width:32px;
}

.icon-h {
  width:20px;
  max-height:20px;
}

.icon-v {
  max-width:20px;
  height:20px;
}

.icon-clock {
  position: relative;
  left:-2px;
}

div.att-header {
  font-weight:900;
  font-size:1.2em;
}

div.image {
  float:left;
}
