body {
  padding: 50px;
  font-family: 'Raleway', sans-serif;
  background: none;
}

a {
  color: #00B7FF;
}

.positioned {
  position:relative;
}

.flex {
  display: flex;
}
.shrink {
  flex-shrink: 1;
}
.grow {
  flex-grow: 1;
}
.pad-left {
  padding-left: 10px;
}
.marg-left {
  margin-left: 10px;
}

div.start-circle {
	border-radius: 50%;
  margin-left: 10px;
	width: 20px;
	height: 20px;
  background: #441d54;
}
div.end-circle {
	border-radius: 50%;
  margin-left: 10px;
	width: 20px;
	height: 20px;
  background: #441d54;
}

span.line {
  height: 1px;
  background: #384452;
  width: 100%;
  display:block;
  margin-top: 10px;
  margin-left: 10px;
}

div.vline {
  height: 20px;
  width: 1px;
  background: black;
  display: block;
  margin: 0 0 0 20px;
}

.bg-dark {
  background: url('../assets/bg-dark.png') no-repeat center center fixed;
}

.bg-light {
  background: url('../assets/bg-light.png') no-repeat center center fixed;
}
.bg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.abs-top-right {
  position:absolute;
  font-size: 2em;
  font-weight: 200;
  font-family: Raleway, sans-serif;
  top: 0;
  right: 0;
  color: #292929;
}

div.abs-btm-right {
  position:absolute;
  bottom:0px;
  right:0px;
}

div.abs-btm-right-2 {
  position:fixed;
  top:50%;
  right:20px;
}

div.abs-btm-right-2 .chio-btn {
  border-radius: 50%;
  height:50px;
  width:50px;
  padding: 0px 0px;
  margin: 0px 0px;
  padding-top: 5px;
    font-size: 24px;
}

@media (max-width:736px) {
  div.abs-top-right {
    display:block;
    position: relative;
    top:0;
    right:0;
    text-align: center;
    margin-bottom:12px;
  }
}
@media (min-width:737px) {
  div.description {
    padding-top:1.1em;
  }
}

.icon-wrapper {
  float:left;
  width:32px;
}

.icon-h {
  width:20px;
  max-height:20px;
}

.icon-v {
  max-width:20px;
  height:20px;
}

.icon-clock {
  position: relative;
  left:-3px;
}

div.att-header {
  font-weight:900;
  font-size:1em;
}
div.description {
  font-size:1.3em;
}

div.image {
  float:left;
}

div.walk {
  font-size:1.2em;
}

.chio-btn {
  color: #6b5f77;
  border: 3px solid #441d54;
  padding: 0.5em 2em;
  font-size:1.1em;
}

.chio-btn:hover {
  color: #9888a9;
  border: 3px solid #913fb3;
}
/* OPS PAGE */
h1.ops {
  font-size: 1.8em;
  margin-bottom: 0.2em;
}
h2.ops {
  font-size: 1.8em;
  font-weight: 200;
  margin-top: 0.2em;
}

#toast-container {
  font-size: 24px;
}

#toast-container>div {
  width: 500px
}

/* HOME PAGE */
.home-header {
	text-align: center;
}

.home-header h1{
	color: white;
	font-weight: 100;
  margin: 50px 0 40px;
}

.customer-input-group {
	position: relative;
	left: -32px;
  min-width: 370px
}

.customer-input-box {
	background: rgba(255,255,255,0.2);
  border-radius: 4px;
  margin-left: -20px;
  padding-left: 10%;
  margin-top:40px;
  font-family: 'Raleway', sans-serif;
  color: white;
  width: 95%;
  left: -50px;
  font-size: 20px;
  display: inline-block;
  height: 50px;
}

.mic {
	margin-left: 10px;
	display: inline-block;
	width: 20px;
	margin-top: -5px;
}

.brain {
	width:100%;
  min-height:200px;
  /*background:black;*/
}

.fade {
    transition: all linear 500ms;
    opacity: 1;
}

.fade.ng-hide {
  opacity: 0;
}

.fade.ng-hide-remove,
.fade.ng-hide-add {
  display: block !important;
}

.fade.ng-hide-remove {
  transition: all linear 1000ms;
}

.fade.ng-hide-add {
  transition: all linear 500ms;
}

.toast-bottom-right {
  bottom: 75px;
}
/* FOOTER STUFF */
div.footer-pad {
  height: 150px;
  width:100%;
}
footer {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height:67px;
  background:#441D54;
}
footer a.nav-bits {
  display: inline-block;
  padding: 10px 25px;
  margin: 10px 5px;
  color: #F8F8F8;
  font-size: 1.5em;
  transition: background 200ms;
  -webkit-transition: background 200ms; /* Safari */
}
footer a.nav-bits:hover {
  background: #ff8c1a;
  transition: background 200ms;
  -webkit-transition: background 200ms; /* Safari */
}

.corner-logo {
	width: 100px;
	position: absolute;
	right: 20px;
	bottom: 20px;
}
